
<h1>Sample</h1>
<div>
  <input type="text" id="img-input"name="name">
  <button id="img-button" type="button">画像を追加</button>
</div>
<div>
  <input type="text" id="comment-input"name="name">
  <button id="comment-button" type="button">コメントを追加</button>
</div>
<div>
  <input type="text" id="url-input"name="name">
  <button id="url-button" type="button">URLを追加</button>
</div>


  <div id="container" class="centerd">
    <div class="box col2">aaaaaaaaa</div>
    <div class="box col2">ddddddddd<br>ddddddd<br>aa</div>
    <div class="box col2">ccccccccccc</div>
  </div>



  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.url %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
